.photoURL{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.fas{
    font-size: 35px;
    color: #fff;
}
.brand-name{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}


.register{
    width: 90px;
}
.login{
    width: 90px; 
}